@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

@keyframes fadeIn {
  from{ opacity: 0; transform: translateY(-10px)}
  to{ opacity: 1; transform: translateY(0)}
}
.animate-fade-in {
  animation: fadeIn 0.3s ease-out;
}