spring:
  application:
    name: backend
  datasource:
    url: ${POSTGRES_URL:jdbc:postgresql://localhost:5432/kakeibo}
    username: ${POSTGRES_USER:rkrk}
    password: ${POSTGRES_PASSWORD:rkrk0329}
    driverClassName: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
